/Exercises/Factorizer/target/
/Practice_Exercises/Arrays/target/
/Exercises/Interest_Calculator/target/
/Practice_Exercises/Random_Numbers/target/
/Exercises/Lucky_Sevens/target/
/Exercises/SummativeSums/target/
/Exercises/HealthyHearts/target/
/Exercises/DogGenetics/target/
/Exercises/Rock_Paper_Scissors/target/
/Exercises/interestCalculator_test/target/
/Exercises/SimpleCalculator/target/
/Exercises/ShapesandPerimeters/target/
/Exercises/StateCapitals/target/
/Exercises/UserIOClassLab/target/
/Exercises/StudentQuizGrades/target/
/Exercises/SimpleFileIO/target/
/Exercises/StateCapitals2/target/
/Exercises/StateCapitals3/target/
/Exercises/ClassRoster/target/
/Exercises/AddressBook/target/
/Exercises/DVDLibrary/target/
/Exercises/testLocalDate/target/
/Exercises/HappyLlamas/nbproject/
/Exercises/HappyLlamas/target/
/Exercises/StatelessUnitTesting/target/
/Exercises/StatelessUnitTesting/nbproject/
/Exercises/ClassRoster/nbproject/
/Exercises/DVDLibrary/nbproject/
/Exercises/Enum_1/target/
/Exercises/Enum_2/target/
/Exercises/MonstrousDaoTestingLab/nbproject/
/Exercises/MonstrousDaoTestingLab/target/
/Exercises/BirthDay_Calculator/target/
/Exercises/Interest_Calculator_BigDecimal/target/
/Exercises/Vending_Machine/target/
/Exercises/Vending_Machine/nbproject/
/Exercises/BookTracker/target/
/Exercises/Flooring_Mastery/target/
/Exercises/States_test/target/
/Exercises/JDBCExampleStarter/target/
/Exercises/JDBCTemplateExampleStarter/target/
/Exercises/JDBCTComplexExampleStarter/target/
/Exercises/JDBCTTestingExampleStarter/nbproject/
/Exercises/JDBCTTestingExampleStarter/target/
/Exercises/SimpleREST/target/
/Exercises/ToDoApi/target/
/Exercises/GuessNumber/target/
/Exercises/RandomTest/target/
/Exercises/GuessNumber/nbproject/
/Exercises/ClassRosterThyme/classroster/nbproject/
/Exercises/ClassRosterThyme/hero/nbproject/
/Exercises/ClassRosterThyme/ValidationTest/target/
/Exercises/ClassRosterThyme/ToDoWeb/target/
/Exercises/test2024/target/
/Exercises/testPom/target/
/Exercises/testLogin/target/
/Exercises/Spring_Security_Jpa/target/
