/Exercises/Factorizer/target/
/Practice_Exercises/Arrays/target/
/Exercises/Interest_Calculator/target/
/Practice_Exercises/Random_Numbers/target/
/Exercises/Lucky_Sevens/target/
/Exercises/SummativeSums/target/
/Exercises/HealthyHearts/target/
/Exercises/DogGenetics/target/
/Exercises/Rock_Paper_Scissors/target/
/Exercises/interestCalculator_test/target/
/Exercises/SimpleCalculator/target/
/Exercises/ShapesandPerimeters/target/
/Exercises/StateCapitals/target/
/Exercises/UserIOClassLab/target/
/Exercises/StudentQuizGrades/target/
/Exercises/SimpleFileIO/target/
/Exercises/StateCapitals2/target/
/Exercises/StateCapitals3/target/
/Exercises/ClassRoster/target/
/Exercises/AddressBook/target/
/Exercises/DVDLibrary/target/
/Exercises/testLocalDate/target/
