/Exercises/Factorizer/target/
/Practice_Exercises/Arrays/target/
/Exercises/Interest_Calculator/target/
/Practice_Exercises/Random_Numbers/target/
/Exercises/Lucky_Sevens/target/
/Exercises/SummativeSums/target/
/Exercises/HealthyHearts/target/
/Exercises/DogGenetics/target/
/Exercises/Rock_Paper_Scissors/target/
/Exercises/interestCalculator_test/target/
