<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Hero Manager</title>
    </head>
    <body onload="retrieveSelectedOptions()">
        <!-- Main Body of Page -->
        <div class="container">

            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/index" class="text-dark">Superhero Sightings Manager</a></h1>
                </div>
            </div>

            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="superHero" class="btn btn-outline-primary btn-lg">SuperHero</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superPower" class="btn btn-outline-primary btn-lg">SuperPower</a>
                </div>
                <div class="col text-center m-3">
                    <a href="location" class="btn btn-outline-primary btn-lg">Location</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organization" class="btn btn-outline-primary btn-lg">Organization</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sighting" class="btn btn-outline-primary btn-lg">Sighting</a>
                </div>
            </div>
            <div class="row m-4 border border-dark">
<!--                <div class="col-12 m-1 text-center" 
                     th:if="${!errors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${errors}" 
                       th:text="${error.message}">Error message</p>
                </div>-->
               <!-- Check if errors is not null and not empty -->
               <div class="col-12 m-1 text-center"  th:if="${errors != null and not #lists.isEmpty(errors)}" >

                   <!-- Iterate over each error and display it -->
                   <p th:each="error : ${errors}" th:text="${error.message}" class="alert alert-danger"></p>

               </div>
               <div id="successMessage" name="successMessage" class="col-12 m-1 text-center" th:if="${success}">
                   <p class="alert alert-danger" th:text="${success}">Success message</p>
               </div>
               <div class="col-12 m-1 text-center" th:if="${fileError}">
                   <p class="alert alert-danger" th:text="${fileError}">File error message</p>
               </div>
               <div class="col-12 m-1 text-center" th:if="${fileErrorSize}">
                   <p class="alert alert-danger" th:text="${fileErrorSize}">File error Size message</p>
               </div>
               
               
               
<!--               <div class="col-12 m-1 text-center" >
                   
                  <p class="text-danger"> [[${errorSize}]]</p>
               </div>-->
                <div class="col-3 text-center m-3">
                    <span class="h3">Add SuperHero</span>
                </div>
               
                  
                <div class="col-7 text-center m-3">
                    <form action="addSuperHero" method="POST" enctype="multipart/form-data" onsubmit="clearFields('superHero')">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" placeholder="Enter the super hero/vilain name" name="name" 
                                       id="name" class="form-control"  oninput="saveToSession('name', 'superHero')"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" placeholder="Enter the super hero/vilain description" name="description" 
                                       id="description" class="form-control"  oninput="saveToSession('description', 'superHero')"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inlineRadio1" class="col-3 col-form-label">
                                is Hero?</label>
                            <div class="col-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="isHero" id="inlineRadio1" onclick="handleClick()" value="Yes">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="isHero" id="inlineRadio2" onclick="handleClick()" value="No">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>

                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="superPower" class="col-3 col-form-label">
                                SuperPower</label>
                            <div class="col-9">
                                <select id="superPower" name="superPowerId" class="form-control" oninput="saveToSession('superPower','superHero')" >
                                    <option value=null disabled selected>Select super power</option>
                                    <option th:each="superPower : ${superPowers}" 
                                            th:value="${superPower.superPowerId}" 
                                            th:text="${superPower.name}">
                                        SuperPower Name</option>
                                </select>
                            </div>

                            <script th:inline="javascript">


                                function saveToSession(fieldName, template) {
                                    var key = template + '_' + fieldName; // Create a unique key for this template
                                    var value = document.getElementById(fieldName).value;
                                    sessionStorage.setItem(key, value);
                                }

                                function clearFields(template) {
                                    var nameValue = document.getElementById("name").value;
                                    var superPowerValue = document.getElementById("superPower").value;

                                    if (nameValue !== "" && superPowerValue !== "null" ) {
                                        var key = template + '_name';
                                        sessionStorage.removeItem(key);
                                        var key = template + '_superPower';
                                        sessionStorage.removeItem(key);
                                        var key = template + '_description';
                                        sessionStorage.removeItem(key);
                                    }
                                }

                                function handleClick() {
                                    var selectElement1 = document.getElementById("inlineRadio1");
                                    var selectElement2 = document.getElementById("inlineRadio2");
                                    var radioValues = [
                                        selectElement1.checked,
                                        selectElement2.checked
                                    ];

                                    // Store the selected values in sessionStorage
                                    sessionStorage.setItem("selectedElements", JSON.stringify(radioValues));
                                }

                                function retrieveSelectedOptions() {
                                    var selectElement1 = document.getElementById("inlineRadio1");
                                    var selectElement2 = document.getElementById("inlineRadio2");
                                    var radioValues = JSON.parse(sessionStorage.getItem("selectedElements")) || [];
                                    if (radioValues.length !== 0) {
                                        selectElement1.checked = radioValues[0];
                                        selectElement2.checked = radioValues[1];
                                    } else {
                                        selectElement1.checked = true;
                                    }
                                }
                                // Retrieve values from session when the page loads
                                document.getElementById("name").value = sessionStorage.getItem("superHero_name");
                                document.getElementById("superPower").value = sessionStorage.getItem("superHero_superPower");
                                document.getElementById("description").value = sessionStorage.getItem("superHero_description");
                            </script>
                        </div>
                        <div class="form-group row">
                            <label for="image" class="col-3 col-form-label">
                                Image</label>
                            <div class="col-9">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Add SuperHero</button>
                    </form>

                </div>

            </div>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <form id="superHeroForm" action="superHero" method="POST">
                        <div class="form-group row">
                            <label for="location" class="col-3 col-form-label">
                                SuperHeroes By Location</label>
                            <div class="col-6">
                                <select id="location" name="locationId" class="form-control" onchange="submitForm()">
                                    <option value="" disabled selected>Select a location</option>
                                    <option th:value="${AllLocations}" th:selected="${AllLocations eq selectedLocationId}">All Locations</option>
                                    <option th:value="${AllLocationsNotSeen}" th:selected="${AllLocationsNotSeen eq selectedLocationId}">All Locations & Not Seen (All Heroes)</option>
                                    <option th:value="${NotSeen}" th:selected="${NotSeen eq selectedLocationId}">Not Seen</option>
                                    <option th:each="location : ${locations}" 
                                            th:value="${location.locationId}" 
                                            th:text="${location.name} + ' lat: ' + ${location.latitude} + ' lon: ' + ${location.longitude}"
                                            th:selected="${location.locationId eq selectedLocationId}">
                                        Location Name</option>
                                </select>
                            </div>
                            <script th:inline="javascript">
                                function submitForm() {
                                    document.getElementById('superHeroForm').submit();
                                }

                            </script>
                        </div>

                    </form>
                    <div class="col text-center m-3">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hero : ${heroesByLocation}">
                                    <td th:text="${hero.heroId}">ID</td>
                                    <td th:text="${hero.name}">Name</td>
                                    <td><a href="#" th:href="@{/superHeroDetail(id=${hero.heroId})}">Details</a></td>
                                    <td><a href="#" th:href="@{/editSuperHero(id=${hero.heroId})}">Edit</a></td>
                                    <td><a href="#" th:href="@{/deleteSuperHero(id=${hero.heroId})}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

        <!-- End main body -->

        <!-- Optional JavaScript -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>;